:root {
  --error: red;
  --correct: green;
}

body {
  width: 100vw;
  height: 100vh;
}

p,
h1,
h2,
label,
input {
  font-family: "funnel", sans-serif;
}

input {
  outline: none;
  font-size: 1.25rem;

  width: 15vw;
}

label {
  display: block;
}

.maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgb(244, 244, 235);

  height: 100vh;
}

.left {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.left > .image {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;

  user-select: none;

  background-color: rgb(0 0 0 / 60%);
  padding: 20px 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > p {
  display: inline-block;
  color: white;
  font-size: 5rem;
  font-family: "altehass";
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 0;
  padding: 0;

  text-align: center;
}

.logo > img {
  width: 168px;
  height: auto;
}

.credits {
  position: absolute;
  z-index: 1;

  background-color: rgb(0 0 0 / 30%);
  width: 100%;
  text-align: center;

  top: 98.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credits > p > a {
  color: white;
}

.credits > p > a:hover,
.credits > p > a:focus {
  color: yellow;
}

.credits > p {
  font-size: 1.5rem;
  color: white;
}

.right {
  flex: 2;
}

input {
  border: 1.5px solid #a1a1a1;
  border-radius: 6px;
}

.right > form {
  display: flex;
  flex-direction: column;
  height: 100%;

  gap: 64px;

  justify-content: center;
}

.mid {
  background-color: white;
  padding: 0 2.5rem 2.5rem 2.5rem;
  box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
}

.mid > h1 {
  margin: 1rem 1rem 1rem 0;
}

.mid label {
  letter-spacing: 0.125rem;
  font-weight: 600;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  width: 70%;

  gap: 2rem;
}

.form-item {
  margin-right: 4rem;
}

input:invalid {
  border-color: var(--error);
  box-shadow: 0 4px 6px rgba(253, 21, 21, 0.3);
}

input:focus {
  border-color: blue;
  box-shadow: 0 4px 6px rgba(21, 29, 253, 0.3);
}
